* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

body {
  background-image: url("../media/bg-image.jpg");
  background-size: auto;
  background-position: center;
  align-items: center;
}

.home-forms {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 24rem;
    justify-self: center;
}

.home-forms form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.home-forms p {
  color: var(--color-text);
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.home-forms h2 {
  color: var(--color-text);
  font-size: 5rem;
  padding: 2rem;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-forms form input {
  width: 12rem;
  height: 2rem;
  background-color: var(--color-dark-text);
  color: black;
  border-radius: 8px;
  padding: 8px;
}

form input:focus {
  outline: 2px solid green;
}

.home-forms button {
 padding: 6px;
 background-color: var(--color-dark-card); 
}

.home-forms {
  background: white;
  padding: 25px;
  margin-top: 15%;
  border-radius: 10px;
  outline: 1px solid black;
}

.home-forms button {
  width: 8rem;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  border: 1px solid var(--color-primary);
  transition: 300ms ease-in-out;
}

.home-forms button:hover {
  cursor: pointer;
  background-color: var(--color-primary);
  color: white;
  border: 1px solid white;
}