:root {
  --color-primary: rgba(37, 99, 235, 1);      
  --color-primary-light: rgba(59, 130, 246, 1);  
  --color-primary-dark: rgba(18, 127, 199, 0.5);

  --color-secondary: rgba(147, 51, 234, 1);     
  --color-secondary-light: rgba(168, 85, 247, 1);
  --color-secondary-dark: rgba(126, 34, 206, 0.48); 

  /* Tonos neutros (fondos y texto) */
  --color-bg: rgba(38, 109, 180, 0.28);        
  --color-bg-alt: rgba(255, 255, 255, 1);     
  --color-text: rgba(31, 41, 55, 1);         
  --color-text-light: rgb(252, 252, 252);   

  /* Colores de estado */
  --color-success: rgba(22, 163, 74, 1);     
  --color-warning: rgba(245, 158, 11, 1);        
  --color-error: rgba(220, 38, 38, 1);         
  --color-info: rgba(14, 165, 233, 1);           

  /* Modo oscuro */
  --color-dark-bg: rgba(109, 77, 161, 0.726);      
  --color-dark-card: rgba(55, 72, 95, 1);     
  --color-dark-text: rgba(243, 244, 246, 1);    

}


